.AddBankButton {
  width: 63%;
  height: 0;
  padding-bottom: 63%;
  border-radius: 50%;
  border: 4px dashed #F5B7B1;
  text-align: center;
  color: #F5B7B1;
  -webkit-user-select: none;
}

.AddBankButton:hover {
  cursor: pointer;
  transition-duration: 1s;
  transform: rotate(2160deg);
}

.AddBankButton:active {
  transition-duration: 0.1s;
  filter: brightness(110%);
  border: double #4679BD;
  border-radius: 50%;
  color: #4679BD;
}
