.IconBankList {
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  border-radius: 50%;
  background: #4679BD;
}

.IconBankList:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 30%;
}

.IconBankList:active {
  filter: brightness(110%);
}
