.DeleteButton {
  margin: 0.3em;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  color: #F5B7B1;
}

.DeleteButton:hover {
  filter: brightness(110%);
}

.DeleteButton:active {
  filter: brightness(90%);
}
