.Bank {
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
}

.InputBank {
  position: fixed;
  bottom: 0.2em;
  width: 79%;
  margin-left: 0.5%;
  margin-bottom: 0.2em;
}

.ViewBank {
  position: relative;
  z-index: 0;
}
