.Bank {

  /*Size*/
  width: 80%;

  /*Margins*/
  margin-top: 2%;
  margin-left: 10%;
}

.InputBank {

  /*Position*/
  position: fixed;
  bottom: 0.2em;

  /*Size*/
  width: 79%;

  /*Margins*/
  margin-left: 0.5%;
  margin-bottom: 0.2em;

}

.ViewBank {

  /*Position*/
  position: relative;
  z-index: 0;

  /*Margins*/
  margin-bottom: 15%;

}
