.DeleteBankButton {
  width: 70%;
  height: auto;
  color: #F5B7B1;
}

.DeleteBankButton:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.DeleteBankButton:active {
  filter: brightness(90%);
}
