#content {
  text-align: center;
}

#username {
  margin: 1em auto;
  padding: 7px;
  font-size: 2em;
  text-align: center;
  display: block;
}

#password {
  margin: 1em auto;
  padding: 7px;
  font-size: 2em;
  text-align: center;
  display: block;
}

#loginButton {
  margin: 1em 0.5em;
  font-size: 1.5em;
  padding: 0.5em;
  width: 8em;
  background-color: white;
  border: 3px solid #ffccff;
  color: #ffccff;
}

#loginButton:hover {
  background-color: #ffccff;
  color: white;
  transition-duration: 0.5s;
  border: 3px solid white;
}

#joinButton {
  margin: 1em 0.5em;
  font-size: 1.5em;
  padding: 0.5em;
  width: 8em;
  background-color: white;
  border: 3px solid #7cc6fe;
  color: #7cc6fe;
}

#joinButton:hover {
  background-color: #7cc6fe;
  color: white;
  transition-duration: 0.5s;
  border: 3px solid #white;
}