.DeleteCardButton {
  margin: 0.3em;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  color: #F5B7B1;
}

.DeleteCardButton:hover {
  filter: brightness(110%);
}

.DeleteCardButton:active {
  filter: brightness(90%);
}
